.paginationButton{
    margin-bottom: 50px;
    margin-top: 50px;
    width: 93%;
    list-style: none;
    display:flex;
    justify-content: center;
}
.paginationButton a{
    color: black;
    border-color: #222;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #222;
    cursor: pointer;
}
.paginationButton a:hover{
    color: white;
    background-color: #222;
}
.paginationAct a{
    color: white;
    background-color: #222;  
}
.results_list {
    list-style: none;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 70%;
    margin-left: 15%;
    border-radius: 20px;
    padding: 3px 20px 3px 15px;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    grid-template-columns: 33% 33% 33%;
}
.results_img{
    width: 20%;
    border-radius: 25px;
}
.loginP{
    font-size: 18px;
    color: white;
}
.typeP{
    font-size: 18px;   
    color: white;
    text-decoration: none;
}
.user a{
    text-decoration: none;
}
.result_Header_ul{
    list-style: none;
    display: grid;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    padding: 15px;
    background-color: #F7F4F3;
    grid-template-columns: 33% 33% 33%;
}
.resultOverall{
    display: flex;
    justify-content: space-between;
}
.img-name{
    display: flex;
    justify-content: space-evenly;
}
.user{
    margin-right: 96px;
}